In [ ]:
import os
import matplotlib.pyplot as plt
import geopandas as gpd
import pandas as pd
import seaborn as sn
import numpy as np

In [ ]:
import json

In [ ]:
from shapely.geometry import Point

In [ ]:
from pandas.io.json import json_normalize

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
os.chdir(r'/content/drive/MyDrive/Data/BBR/')

In [ ]:
with open('BBR_0746.json', encoding='utf-8') as json_data:
    data = json.load(json_data)

In [ ]:
df = pd.DataFrame(data['BygningList'])

In [ ]:
df.head()

,forretningshændelse,forretningsområde,forretningsproces,id_namespace,id_lokalId,kommunekode,registreringFra,registreringsaktør,registreringTil,virkningFra,...,byg500Notatlinjer,byg150Gulvbelægning,byg151Frihøjde,byg152ÅbenLukketKonstruktion,byg153Konstruktionsforhold,byg140ServitutForUdlejningsEjendomDato,jordstykke,husnummer,ejerlejlighed,grund
0,Bygning,54.15.05.05,0,http://data.gov.dk/bbr/bygning,9c0d22ff-d214-4302-98c4-00009223500c,0706,2017-06-02T14:29:37.000000+02:00,BBR,None,2017-04-24T04:15:57.770000+02:00,...,None,None,None,None,None,None,301740,0a3f5094-e891-32b8-e044-0003ba298018,None,b525a1b3-bf65-4d38-a183-e982d6decdf1
1,Bygning,54.15.05.05,0,http://data.gov.dk/bbr/bygning,06c125ae-7864-4b4b-b8bb-000096e0603f,0706,2017-06-02T14:29:37.000000+02:00,BBR,None,2017-04-27T13:05:04.383000+02:00,...,None,None,None,None,None,None,1825652,0a3f5093-52d7-32b8-e044-0003ba298018,None,0175b769-e535-4c5c-8a1b-1af10636c212
2,Bygning,54.15.05.05,0,http://data.gov.dk/bbr/bygning,b1e72a31-33a7-47c3-8843-0002d6d60de2,0706,2017-06-02T14:29:37.000000+02:00,BBR,None,2017-04-24T04:13:12.973000+02:00,...,None,None,None,None,None,None,299770,0a3f5094-f61d-32b8-e044-0003ba298018,None,88e91958-4f7b-4fa2-82f7-8f15e0cf47c0
3,Bygning,54.15.05.05,0,http://data.gov.dk/bbr/bygning,66808842-c5d8-4012-9ff6-0003dbae72ca,0706,2017-06-02T14:29:37.000000+02:00,BBR,None,2017-04-23T23:58:00.637000+02:00,...,None,None,None,None,None,None,1824277,0a3f5093-5de5-32b8-e044-0003ba298018,None,d9bf5e91-4433-479d-87f9-8f399f84f85f
4,Bygning,54.15.05.05,0,http://data.gov.dk/bbr/bygning,4cdc04b3-351d-4c53-8b43-00041af1c206,0706,2017-06-02T14:29:37.000000+02:00,BBR,None,2017-04-27T14:36:35.127000+02:00,...,None,None,None,None,None,None,1483303,0a3f5095-2c87-32b8-e044-0003ba298018,None,af0ecc66-cda0-41e9-b922-2e989e889e28

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77830 entries, 0 to 77829
Data columns (total 90 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   forretningshændelse                                              77830 non-null  object
 1   forretningsområde                                                77830 non-null  object
 2   forretningsproces                                                77830 non-null  object
 3   id_namespace                                                     77830 non-null  object
 4   id_lokalId                                                       77830 non-null  object
 5   kommunekode                                                      77830 non-null  object
 6   registreringFra                                                  77830 non-null  object
 7   registreringsaktør                                               77830 non-null  object
 8   registreringTil                                                  0 non-null      object
 9   virkningFra                                                      77830 non-null  object
 10  virkningsaktør                                                   77830 non-null  object
 11  virkningTil                                                      0 non-null      object
 12  status                                                           77830 non-null  object
 13  byg007Bygningsnummer                                             75995 non-null  float64
 14  byg021BygningensAnvendelse                                       77576 non-null  object
 15  byg024AntalLejlighederMedKøkken                                  0 non-null      object
 16  byg025AntalLejlighederUdenKøkken                                 0 non-null      object
 17  byg026Opførelsesår                                               67301 non-null  float64
 18  byg027OmTilbygningsår                                            14143 non-null  float64
 19  byg029DatoForMidlertidigOpførtBygning                            95 non-null     object
 20  byg030Vandforsyning                                              1315 non-null   object
 21  byg031Afløbsforhold                                              1528 non-null   object
 22  byg032YdervæggensMateriale                                       68338 non-null  object
 23  byg033Tagdækningsmateriale                                       68491 non-null  object
 24  byg034SupplerendeYdervæggensMateriale                            450 non-null    object
 25  byg035SupplerendeTagdækningsMateriale                            175 non-null    object
 26  byg036AsbestholdigtMateriale                                     0 non-null      object
 27  byg037KildeTilBygningensMaterialer                               69677 non-null  object
 28  byg038SamletBygningsareal                                        42456 non-null  float64
 29  byg039BygningensSamledeBoligAreal                                32954 non-null  float64
 30  byg040BygningensSamledeErhvervsAreal                             10731 non-null  float64
 31  byg041BebyggetAreal                                              72167 non-null  float64
 32  byg042ArealIndbyggetGarage                                       1127 non-null   float64
 33  byg043ArealIndbyggetCarport                                      1221 non-null   float64
 34  byg044ArealIndbyggetUdhus                                        6236 non-null   float64
 35  byg045ArealIndbyggetUdestueEllerLign                             2058 non-null   float64
 36  byg046SamletArealAfLukkedeOverdækningerPåBygningen               15 non-null     float64
 37  byg047ArealAfAffaldsrumITerrænniveau                             0 non-null      object
 38  byg048AndetAreal                                                 136 non-null    float64
 39  byg049ArealAfOverdækketAreal                                     6148 non-null   float64
 40  byg050ArealÅbneOverdækningerPåBygningenSamlet                    0 non-null      object
 41  byg051Adgangsareal                                               15 non-null     float64
 42  byg052BeregningsprincipCarportAreal                              0 non-null      object
 43  byg053BygningsarealerKilde                                       72455 non-null  object
 44  byg054AntalEtager                                                39807 non-null  float64
 45  byg055AfvigendeEtager                                            1079 non-null   object
 46  byg056Varmeinstallation                                          46725 non-null  object
 47  byg057Opvarmningsmiddel                                          22897 non-null  object
 48  byg058SupplerendeVarme                                           16199 non-null  object
 49  byg069Sikringsrumpladser                                         32 non-null     float64
 50  byg070Fredning                                                   108 non-null    object
 51  byg071BevaringsværdighedReference                                0 non-null      object
 52  byg094Revisionsdato                                              68016 non-null  object
 53  byg111StormrådetsOversvømmelsesSelvrisiko                        65 non-null     object
 54  byg112DatoForRegistreringFraStormrådet                           65 non-null     object
 55  byg113Byggeskadeforsikringsselskab                               1794 non-null   object
 56  byg114DatoForByggeskadeforsikring                                678 non-null    object
 57  byg119Udledningstilladelse                                       114 non-null    object
 58  byg121OmfattetAfByggeskadeforsikring                             1695 non-null   object
 59  byg122Gyldighedsdato                                             4486 non-null   object
 60  byg123MedlemskabAfSpildevandsforsyning                           0 non-null      object
 61  byg124PåbudVedrSpildevandsafledning                              8 non-null      object
 62  byg125FristVedrSpildevandsafledning                              8 non-null      object
 63  byg126TilladelseTilUdtræden                                      0 non-null      object
 64  byg127DatoForTilladelseTilUdtræden                               0 non-null      object
 65  byg128TilladelseTilAlternativBortskaffelseEllerAfledning         0 non-null      object
 66  byg129DatoForTilladelseTilAlternativBortskaffelseEllerAfledning  0 non-null      object
 67  byg130ArealAfUdvendigEfterisolering                              24 non-null     float64
 68  byg131DispensationFritagelseIftKollektivVarmeforsyning           2 non-null      object
 69  byg132DatoForDispensationFritagelseIftKollektivVarmeforsyning    2 non-null      object
 70  byg133KildeTilKoordinatsæt                                       68209 non-null  object
 71  byg134KvalitetAfKoordinatsæt                                     68209 non-null  object
 72  byg135SupplerendeOplysningOmKoordinatsæt                         66544 non-null  object
 73  byg136PlaceringPåSøterritorie                                    71419 non-null  object
 74  byg137BanedanmarkBygværksnummer                                  0 non-null      object
 75  byg301TypeAfFlytning                                             0 non-null      object
 76  byg302Tilflytterkommune                                          0 non-null      object
 77  byg403ØvrigeBemærkningerFraStormrådet                            0 non-null      object
 78  byg404Koordinat                                                  68536 non-null  object
 79  byg406Koordinatsystem                                            68536 non-null  object
 80  byg500Notatlinjer                                                0 non-null      object
 81  byg150Gulvbelægning                                              0 non-null      object
 82  byg151Frihøjde                                                   0 non-null      object
 83  byg152ÅbenLukketKonstruktion                                     0 non-null      object
 84  byg153Konstruktionsforhold                                       0 non-null      object
 85  byg140ServitutForUdlejningsEjendomDato                           0 non-null      object
 86  jordstykke                                                       77693 non-null  object
 87  husnummer                                                        77655 non-null  object
 88  ejerlejlighed                                                    21 non-null     object
 89  grund                                                            77830 non-null  object
dtypes: float64(18), object(72)
memory usage: 53.4+ MB

In [ ]:
df = df[df['byg404Koordinat'].notna()]

In [ ]:
df = df[df['byg026Opførelsesår'].notna()]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66137 entries, 0 to 77823
Data columns (total 90 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   forretningshændelse                                              66137 non-null  object
 1   forretningsområde                                                66137 non-null  object
 2   forretningsproces                                                66137 non-null  object
 3   id_namespace                                                     66137 non-null  object
 4   id_lokalId                                                       66137 non-null  object
 5   kommunekode                                                      66137 non-null  object
 6   registreringFra                                                  66137 non-null  object
 7   registreringsaktør                                               66137 non-null  object
 8   registreringTil                                                  0 non-null      object
 9   virkningFra                                                      66137 non-null  object
 10  virkningsaktør                                                   66137 non-null  object
 11  virkningTil                                                      0 non-null      object
 12  status                                                           66137 non-null  object
 13  byg007Bygningsnummer                                             66137 non-null  float64
 14  byg021BygningensAnvendelse                                       66137 non-null  object
 15  byg024AntalLejlighederMedKøkken                                  0 non-null      object
 16  byg025AntalLejlighederUdenKøkken                                 0 non-null      object
 17  byg026Opførelsesår                                               66137 non-null  float64
 18  byg027OmTilbygningsår                                            11377 non-null  float64
 19  byg029DatoForMidlertidigOpførtBygning                            59 non-null     object
 20  byg030Vandforsyning                                              1259 non-null   object
 21  byg031Afløbsforhold                                              1441 non-null   object
 22  byg032YdervæggensMateriale                                       64980 non-null  object
 23  byg033Tagdækningsmateriale                                       65041 non-null  object
 24  byg034SupplerendeYdervæggensMateriale                            322 non-null    object
 25  byg035SupplerendeTagdækningsMateriale                            143 non-null    object
 26  byg036AsbestholdigtMateriale                                     0 non-null      object
 27  byg037KildeTilBygningensMaterialer                               66117 non-null  object
 28  byg038SamletBygningsareal                                        37744 non-null  float64
 29  byg039BygningensSamledeBoligAreal                                28872 non-null  float64
 30  byg040BygningensSamledeErhvervsAreal                             9646 non-null   float64
 31  byg041BebyggetAreal                                              66130 non-null  float64
 32  byg042ArealIndbyggetGarage                                       950 non-null    float64
 33  byg043ArealIndbyggetCarport                                      1039 non-null   float64
 34  byg044ArealIndbyggetUdhus                                        5713 non-null   float64
 35  byg045ArealIndbyggetUdestueEllerLign                             1641 non-null   float64
 36  byg046SamletArealAfLukkedeOverdækningerPåBygningen               10 non-null     float64
 37  byg047ArealAfAffaldsrumITerrænniveau                             0 non-null      object
 38  byg048AndetAreal                                                 121 non-null    float64
 39  byg049ArealAfOverdækketAreal                                     5124 non-null   float64
 40  byg050ArealÅbneOverdækningerPåBygningenSamlet                    0 non-null      object
 41  byg051Adgangsareal                                               14 non-null     float64
 42  byg052BeregningsprincipCarportAreal                              0 non-null      object
 43  byg053BygningsarealerKilde                                       66114 non-null  object
 44  byg054AntalEtager                                                37995 non-null  float64
 45  byg055AfvigendeEtager                                            953 non-null    object
 46  byg056Varmeinstallation                                          44608 non-null  object
 47  byg057Opvarmningsmiddel                                          21758 non-null  object
 48  byg058SupplerendeVarme                                           15823 non-null  object
 49  byg069Sikringsrumpladser                                         31 non-null     float64
 50  byg070Fredning                                                   107 non-null    object
 51  byg071BevaringsværdighedReference                                0 non-null      object
 52  byg094Revisionsdato                                              65674 non-null  object
 53  byg111StormrådetsOversvømmelsesSelvrisiko                        65 non-null     object
 54  byg112DatoForRegistreringFraStormrådet                           65 non-null     object
 55  byg113Byggeskadeforsikringsselskab                               1678 non-null   object
 56  byg114DatoForByggeskadeforsikring                                673 non-null    object
 57  byg119Udledningstilladelse                                       107 non-null    object
 58  byg121OmfattetAfByggeskadeforsikring                             1650 non-null   object
 59  byg122Gyldighedsdato                                             4484 non-null   object
 60  byg123MedlemskabAfSpildevandsforsyning                           0 non-null      object
 61  byg124PåbudVedrSpildevandsafledning                              8 non-null      object
 62  byg125FristVedrSpildevandsafledning                              8 non-null      object
 63  byg126TilladelseTilUdtræden                                      0 non-null      object
 64  byg127DatoForTilladelseTilUdtræden                               0 non-null      object
 65  byg128TilladelseTilAlternativBortskaffelseEllerAfledning         0 non-null      object
 66  byg129DatoForTilladelseTilAlternativBortskaffelseEllerAfledning  0 non-null      object
 67  byg130ArealAfUdvendigEfterisolering                              19 non-null     float64
 68  byg131DispensationFritagelseIftKollektivVarmeforsyning           2 non-null      object
 69  byg132DatoForDispensationFritagelseIftKollektivVarmeforsyning    2 non-null      object
 70  byg133KildeTilKoordinatsæt                                       66028 non-null  object
 71  byg134KvalitetAfKoordinatsæt                                     66028 non-null  object
 72  byg135SupplerendeOplysningOmKoordinatsæt                         64368 non-null  object
 73  byg136PlaceringPåSøterritorie                                    62816 non-null  object
 74  byg137BanedanmarkBygværksnummer                                  0 non-null      object
 75  byg301TypeAfFlytning                                             0 non-null      object
 76  byg302Tilflytterkommune                                          0 non-null      object
 77  byg403ØvrigeBemærkningerFraStormrådet                            0 non-null      object
 78  byg404Koordinat                                                  66137 non-null  object
 79  byg406Koordinatsystem                                            66137 non-null  object
 80  byg500Notatlinjer                                                0 non-null      object
 81  byg150Gulvbelægning                                              0 non-null      object
 82  byg151Frihøjde                                                   0 non-null      object
 83  byg152ÅbenLukketKonstruktion                                     0 non-null      object
 84  byg153Konstruktionsforhold                                       0 non-null      object
 85  byg140ServitutForUdlejningsEjendomDato                           0 non-null      object
 86  jordstykke                                                       66114 non-null  object
 87  husnummer                                                        66116 non-null  object
 88  ejerlejlighed                                                    20 non-null     object
 89  grund                                                            66137 non-null  object
dtypes: float64(18), object(72)
memory usage: 45.9+ MB

In [ ]:
df = df[['id_lokalId', 'byg021BygningensAnvendelse', 'byg026Opførelsesår', 'byg027OmTilbygningsår', 'byg404Koordinat']]

In [ ]:
from shapely import wkt

In [ ]:
df['geometry'] = df['byg404Koordinat'].apply(wkt.loads)

In [ ]:
df

,id_lokalId,byg021BygningensAnvendelse,byg026Opførelsesår,byg027OmTilbygningsår,byg404Koordinat,geometry
0,0a29a585-55d4-4ed6-9de2-0008ae9d58af,910,1973.0,NaN,POINT(563789.32 6242948.47),POINT (563789.32 6242948.47)
1,5762621e-dbd0-4840-94c1-00091e4928ec,120,2010.0,NaN,POINT(562005.1 6246827.34),POINT (562005.1 6246827.34)
2,40c84f29-6b34-46e9-8bfb-000a0f2839e0,120,1964.0,1975.0,POINT(565776.11 6242913.69),POINT (565776.11 6242913.69)
3,ff738c08-7c57-47cc-8cad-0011744a6a74,920,2003.0,NaN,POINT(566696.97 6235581.75),POINT (566696.97 6235581.75)
4,fa0ac3a6-6c21-4ae3-83a5-0011bd39b8a6,910,1000.0,NaN,POINT(553378.54 6235289.61),POINT (553378.54 6235289.61)
...,...,...,...,...,...,...
58065,bf4306f3-eb6d-464b-882d-512d1015143e,970,1997.0,NaN,POINT(567354.19 6232138.65),POINT (567354.19 6232138.65)
58066,264443d7-c3c5-47e8-8d92-87f491d80cab,930,1989.0,NaN,POINT(564018.29 6243426.03),POINT (564018.29 6243426.03)
58067,3eb83328-aee5-47d3-b6f4-52035db225cb,930,2002.0,NaN,POINT(564028.97 6243445.3),POINT (564028.97 6243445.3)
58068,13930362-bf0e-453e-91df-aff13ed8511d,920,2019.0,NaN,POINT(554301.53 6234526.17),POINT (554301.53 6234526.17)
58069,5aff00f3-4e77-47fb-b7c1-ca50a00156bd,120,1989.0,NaN,POINT(554294.41 6234521.23),POINT (554294.41 6234521.23)

In [ ]:
df = df.drop(['byg404Koordinat'], axis=1)

In [ ]:
df.rename(columns = {'byg021BygningensAnvendelse':'anvendelse', 'byg026Opførelsesår':'opfoerselsaar', 'byg027OmTilbygningsår':'ombygaar'}, inplace = True)

In [ ]:
df

,id_lokalId,anvendelse,opfoerselsaar,ombygaar,geometry
0,9c0d22ff-d214-4302-98c4-00009223500c,120,1975.0,NaN,POINT (580793.06 6241164.52)
1,06c125ae-7864-4b4b-b8bb-000096e0603f,920,1999.0,NaN,POINT (604094.56 6228651.4)
2,b1e72a31-33a7-47c3-8843-0002d6d60de2,510,1960.0,1998.0,POINT (585412.8 6238787.62)
3,66808842-c5d8-4012-9ff6-0003dbae72ca,930,1979.0,NaN,POINT (604036.57 6229098.72)
4,4cdc04b3-351d-4c53-8b43-00041af1c206,910,1940.0,NaN,POINT (591124.87 6240713.51)
...,...,...,...,...,...
77815,7180cc31-20f1-44f2-bee5-6ce9c214504e,930,2022.0,NaN,POINT (587092.2 6241584.11)
77816,5140e9d8-1b35-427a-8d81-c1a62c871af9,120,2011.0,NaN,POINT (587082.26 6241590.67)
77819,7e7ab53a-6198-4993-be76-79c33f20c4bb,120,1977.0,1988.0,POINT (601270.72 6242448.85)
77820,f5c10937-d5fd-46d2-8da8-cac3579feb8d,510,1965.0,NaN,POINT (585340.13 6238780.89)
77823,64a0f73f-1b9f-4cfe-8f2a-5b162e40f03d,131,1830.0,NaN,POINT (592538.37 6227715.64)

In [ ]:
gdf = gpd.GeoDataFrame(df, crs="EPSG:25832", geometry='geometry')

In [ ]:
#gdf.to_file("bbr_0746.geojson", encoding='utf-8')

In [ ]:
#gdf.to_csv("bbr_0746.csv", encoding='utf-8')

In [ ]:
gdf.to_file("bbr_0746.shp")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  """Entry point for launching an IPython kernel.